#home{
    width:100%;
    height: 100%;
    display : flex;
}

.lefthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.righthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.righthome img{
    width: 60%;
    filter: drop-shadow(2px 2px 20px pink);
}
.CV{
    background-color: pink;
    padding: 10px 20px;
    color:black;
    font-size: 19px;
    font-weight: 600;
    margin-top: 100px;
    border: 2px solid pink;
    border-radius: 20px;
    transition: all 0.5s;
    text-decoration: none;

}
.CV:hover{
    background-color: transparent;
    color:pink;
}
.homedetails {
    font-size: 2vmax;
}
.line1{
    font-size: 0.8em;
}
.line2{
    font-size: 2.5em;
    background: linear-gradient(to right,rgb(216, 92, 112),white);
    background-clip: text;
    color: transparent;
}
.line3{
    font-size: 1em;
}
@media (max-width:750px){
    #home{
        flex-direction: column-reverse;
    }
    .lefthome,.righthome{
        width: 100%;
        height: 50vh;
    }
    .righthome img{
        width: 100%;
        height: 50vh;
    }
    .CV{
    margin-top: 24px;           
    padding: 10px 10px;       
    font-size: 16px;           
    border-width: 1.5px;
    width: min(90%, 360px);    
    max-width: 360px;
    display: block;            
    margin-left: auto;
    margin-right: auto;
    white-space: normal;       
    text-align: center;

    }
}