/*nav container styles*/
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: rgb(8, 12, 14);
}
/*cursor pointer on nav links*/
nav ul a{
    cursor: pointer;
}

nav ul a:hover{
    color:rgb(216, 92, 112) ;
    border-bottom: 2px solid white;
}

.active{
    color:rgb(216, 92, 112);
    border-bottom: 2px solid rgb(255, 255, 255);
}
/*nav link styles*/
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color:white;
    list-style: none;
    font-size: 20px;
}
/*nav link hover effect*/
nav h1{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right,rgb(216, 92, 112),white);
    background-clip: text;
    color: transparent;
}

.hamburger{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    display: none;
    cursor: pointer;
}

.ham{
    width: 40px;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.5s;
}

.mobilemenu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 12, 14, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);     
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  gap: 50px;
  z-index: 999;           
}

.activemobile{
    transform: translateX(0%);

}
.activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}
.activeham .ham:nth-child(2){
    opacity: 0;
}
.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top: -12px;
}
@media (max-width:750px){
    .desktopmenu{
        display: none;
    }
    .hamburger{
        display: flex;
    }

}